.contact {
    padding-top: 100px;
    padding-bottom: 150px;

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &-title {
        font-size: 32px;
        line-height: 85px;
        letter-spacing: 0.05em;
        text-transform: capitalize;
    }

    &__items{
        padding-top: 50px;
    }

    &__item {
        font-size: 30px;
        color: rgb(107, 206, 206);
        &-email {

            a {
                color: $text-color;

                &:hover{
                    text-decoration: none;
                    font-size: 32px;
                    color: rgb(107, 206, 206);
                }
            }

        }

        &-tel {

            a {
                color: $text-color;

                &:hover{
                    text-decoration: none;
                    font-size: 32px;
                    color: rgb(107, 206, 206);
                }
            }

        }
    }

}